<h3>ピックアップ</h3>
<div class='pickup_plan'>
  ここにピックアッププランを表示
</div>

<h3>今人気のプラン</h3>
<div class='hot_plan'>
  <ol>
    <%- @plans.each do |plan| -%>
    <li>
      <h4><%= link_to plan.title, plan_path(plan) %></h4>
      <p>
        <%= truncate plan.outline, :length => 20 %>
      </p>
      <div>
        <%- if plan.first_spot -%>
        <%= link_to map_image_tag({
          :longitude => plan.first_spot.longitude, 
          :latitude => plan.first_spot.latitude, 
          :zoom => 14, 
          :size => '150x150'}), plan_path(plan) %>
        <%- end -%>
      </div>
      <div>
        <%= image_tag plan.owner.profile_image_url, :size => '20x20' %>
        by <%= plan.owner.name %> <%= plan.total_votes %>pts <%= plan.updated_at.strftime("%Y.%m.%d") %>
      </div>
    </li>
    <%- end -%>
  </ol>
</div>

<h3>注目のユーザー</h3>
<div>
  <ol>
    <%- @hot_users.each do |user| -%>
    <li>
      <%= image_tag user.profile_image_url, :size => '40x40' %> <%= user.name %>
    </li>
    <%- end -%>
  </ol>
</div>
