<%- content_for :sidebar do -%>
<%= render '/sidebar', :contents => [:news, :hot_users, :tweets] %>
<%- end -%>

<div id="mainArea">
  <h2 class="topH"><img src="/images/top/pic_t.gif" alt="PICK UP ピックアップ" title="PICK UP ピックアップ"></h2>
  <div class="tour">
    <div class="tourInner">
      <div class="tourNameWrapper clearfix">
        <p class="tourName"><%= link_to @pickup.title, plan_path(@pickup) %></p>
        <p class="eval"><img src="/images/plan/face_icon.gif" alt="みんなの評価" title="みんなの評価"></p>
        <p class="evalNum"><%= @pickup.total_votes %>pt</p>
      </div>
      <div class="pickupTour clearfix">
        <div class="leftBox">
          <div class="profile clearfix">
            <p class="photo"><%= image_tag @pickup.owner.profile_image_url, :size => '26x26' %></p>
            <p class="profileName">by <%= @pickup.owner.name %></p>
          </div>
          <p class="photo"><img src="http://tabiplus.s3.amazonaws.com/demo/nijo.jpg" alt="写真" title="写真" width="45" height="45"><img src="http://tabiplus.s3.amazonaws.com/demo/seimei.jpg" alt="写真" title="写真" width="45" height="45"><img src="http://tabiplus.s3.amazonaws.com/demo/kinkaku.jpg" alt="写真" title="写真" width="45" height="45"><img src="http://tabiplus.s3.amazonaws.com/demo/cloud.jpg" alt="写真" title="写真" width="45" height="45"><img src="http://tabiplus.s3.amazonaws.com/demo/river.jpg" alt="写真" title="写真" width="45" height="45"></p>
          <p class="comment"><%= truncate strip_tags(@pickup.outline), :length => 80 %><br><span class="date"><%= @pickup.updated_at.strftime("%Y/%m/%d") %></span></p>
        </div>
        <div class="rightBox"><%= map_image_tag(:longitude => '135.75859870910645', :latitude => '34.98524748805968', :zoom => 14, :size => '400x240') %></div>
      </div>
    </div>
  </div>
  <h2 class="topH"><img src="/images/top/popular_t.gif" alt="POPULAR いま人気のプラン" title="POPULAR いま人気のプラン"></h2>
  <%- unless @popular_plans.blank? -%>
    <%- plan = @popular_plans.first %>
    <div class="tour popular">
      <div class="tourInner">
        <div class="tourNameWrapper clearfix">
          <p class="tourName"><%= link_to plan.title, plan_path(plan) %></p>
          <p class="eval"><img src="/images/plan/face_icon.gif" alt="みんなの評価" title="みんなの評価"></p>
          <p class="evalNum"><%= plan.total_votes %>pt</p>
        </div>
        <div class="pickupTour clearfix">
          <div class="leftBoxPopurar"><%- if plan.first_spot -%><%= link_to map_image_tag(:longitude => plan.first_spot.longitude, :latitude => plan.first_spot.latitude, :zoom => 14, :size => '270x160'), plan_path(plan) %><%- end -%></div>
          <div class="rightBoxPopurar">
            <div class="profile clearfix">
              <p class="photo"><%= image_tag plan.owner.profile_image_url, :size => '26x26' %></p>
              <p class="profileName">by <%= plan.owner.name %></p>
            </div>
            <p class="photo"><img src="http://tabiplus.s3.amazonaws.com/demo/nanzenji.jpg" alt="写真" title="写真"><img src="http://tabiplus.s3.amazonaws.com/demo/kamogawa.jpg" alt="写真" title="写真"><img src="http://tabiplus.s3.amazonaws.com/demo/simogamo.jpg" alt="写真" title="写真"><img src="http://tabiplus.s3.amazonaws.com/demo/stage1.jpg" alt="写真" title="写真"><img src="http://tabiplus.s3.amazonaws.com/demo/stage2.jpg" alt="写真" title="写真"></p>
            <p class="comment"><%= truncate strip_tags(plan.outline), :length => 20 %><br><span class="date"><%= plan.updated_at.strftime("%Y/%m/%d") %></span></p>
          </div>
        </div>
      </div>
    </div>
    <%- if @popular_plans.size > 1 -%>
      <div class="popularS">
        <div class="popularSInner clearfix">
          <%- ['left', 'center', 'right'].each_with_index do |align, index| -%>
            <%- plan = @popular_plans[index + 1] %>
            <%- break unless plan -%>
            <div class="<%= align %>Box">
              <div class="tourNameWrapperS clearfix">
                <p class="tourName"><%= link_to plan.title, plan_path(plan) %></p>
                <div class="evalWrapper clearfix">
                  <p class="eval"><img src="/images/plan/face_icon.gif" alt="みんなの評価" title="みんなの評価"></p>
                  <p class="evalNum"><%= plan.total_votes %>pt</p>
                </div>
              </div>
              <p class="mapSmall"><%- if plan.first_spot -%><%= link_to map_image_tag(:longitude => plan.first_spot.longitude, :latitude => plan.first_spot.latitude, :zoom => 14, :size => '212x127'), plan_path(plan) %><%- end -%></p>
              <div class="profileS clearfix">
                <p class="photo"><%= image_tag plan.owner.profile_image_url, :size => '26x26' %></p>
                <p class="profileName"><%= truncate strip_tags(plan.outline), :length => 20 %>
                  <span class="date"><%= plan.updated_at.strftime("%Y/%m/%d") %></span><br>by <%= plan.owner.name %></p>
              </div>
            </div>
          <%- end -%>
        </div>
      </div>
    <%- end -%>
  <%- end -%>
  <p class="allPopular"><%= link_to raw('<img src="/images/top/all_plan_btn_off.gif" alt="プラン一覧はこちら" title="プラン一覧はこちら">'), plans_path %></p>
</div>
