<div id="destination_select_map" class="google_map" style="width: 800px; height: 400px;"></div>
<div>
<%= form_for :spot, :url => spots_path(:format => :js), :remote => true, :html => {:id => 'spot_search_form', :method => 'get'} do |f| %>
  <%= search_field_tag :q, '', :placeholder => 'スポット名' %>
  <%= f.submit '検索' %>
<%- end -%>
  <select id='search_results' size="4" style="width: 400px;"></select>
  <%= link_to '新しいスポットを追加する', new_spot_path(:format => :js), :remote => true %>
</div>
<%= semantic_form_for @destination,
  :url    => @destination.new_record? ? plan_destinations_path(:plan_id => @plan.id, :format => :js) : plan_destination_path(:plan_id => @plan.id, :id => @destination.id, :format => :js),
  :method => @destination.new_record? ? :post : :put,
  :remote => true do |f| %>
<%= f.input :spot_id, :as => :hidden %>
<%= f.input :time %>
<%= f.input :comment %>
<%= f.commit_button %>
<%- end -%>
