<div class="popInner">
  <div id="destination_select_map" class="map" style="width: 690px; height: 360px;"></div>
  <div class="panelForm">
    <%= form_for :spot, :url => spots_path(:format => :js), :remote => true, :html => {:id => 'spot_search_form', :method => 'get', :class => 'search clearfix'} do |f| %>
      <p class="spotName"><%= search_field_tag :q, @destination.new_record? ? '' : @destination.spot.name, :placeholder => 'スポット名', :class => 'spotNameForm' %></p>
      <p class="btn">
        <%= image_submit_tag 'plan/search_place.gif', :class => 'searchBtn' %>
        <%= link_to raw('<img src="/images/plan/entry_place.gif" class="searchBtn">'), new_spot_path(:format => :js), :remote => true %>
      </p>
    <%- end -%>
    <div class="spotName clearfix">
      <p class="spotNameSelect"><select id="search_results" size="4" class="spotNameSelectForm"></select></p>
      <p class="spotBtn"></p>
    </div>
    <%= form_for @destination,
      :url    => @destination.new_record? ? plan_destinations_path(:plan_id => @plan.id, :format => :js) : plan_destination_path(:plan_id => @plan.id, :id => @destination.id, :format => :js),
      :method => @destination.new_record? ? :post : :put,
      :remote => true do |f| %>
      <%= f.hidden_field :spot_id %>
      <div class="stayTime clearfix">
        <p class="stayTimeT"><img src="/images/plan/panel_stay_time.gif" alt="滞在時間" title="滞在時間"></p>
        <p class="stayTimeFormBox"><%= f.text_field :time, :class => 'stayTimeForm' %></p>
      </div>
      <div class="panelComment clearfix">
        <p class="panelCommentT"><img src="/images/plan/panel_comment.gif" alt="コメント" title="コメント"></p>
        <p class="panelCommentFormBox"><%= f.text_area :comment, :class => 'panelCommentForm' %></p>
      </div>
      <%= image_submit_tag 'plan/edit_save_btn.gif', :class => 'destinationSaveButton' %>
    <%- end -%>
  </div>
</div>
