<div id="plantitle">
  <div id="plantitleWrapper" class="clearfix">
    <div id="plan_photos_dialog" class="dialog" style="display: none;"></div>
    <div class="editPict" mtp-photo-id="<%= @plan.photo_id %>">
      <p class="pict" id="plan_photo"><%= image_tag @plan.photo ? @plan.photo.photo.url(:plan) : image_path('no_image.gif'), :size => '90x90' %></p>
      <%- unless @plan.new_record? -%>
        <p class="select"><%= link_to raw('<img src="/images/plan/select_pic_btn.gif" alt="写真を選ぶ" title="写真を選ぶ">'), photos_plan_path(:id => @plan.id, :format => :js), :remote => true %></p>
      <%- end -%>
    </div>
    <%= form_for @plan, :remote => !@plan.new_record? do |f| %>
    <div class="editOutline clearfix">
      <div class="editName clearfix">
        <p class="planNameT"><img src="/images/plan/edit_title.gif" alt="タイトル" title="タイトル"></p>
        <p class="planName"><%= f.text_field :title, :class => 'planNameBox' %></p>
        <p class="statusT"><img src="/images/plan/edit_status.gif" alt="ステータス" title="ステータス"></p>
        <p class="status"><%= f.select :status, Plan::Status %></p>
      </div>
      <p class="outlineT"><img src="/images/plan/edit_outline.gif" alt="概要" title="概要"></p>
      <div class="editComment clearfix">
        <p class="outline">
          <%= f.text_area :outline, :class => 'outline' %>
        </p>
        <p class="saveBtn"><%= image_submit_tag 'plan/edit_save_btn.gif' %></p>
      </div>
    </div>
    <%- end -%>
  </div>
</div>
