<%= semantic_form_for @plan, :remote => !@plan.new_record? do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="plan_photos_dialog" class="dialog" style="display: none;"></div>
  <div id="plan_photo" style="float: left;" mtp-photo-id="<%= @plan.photo_id %>">
    <%= image_tag @plan.photo ? @plan.photo.photo.url(:plan) : image_path('no-image.png') %><br>
    <%- unless @plan.new_record? -%>
      <%= link_to '写真を選ぶ', photos_plan_path(:id => @plan.id, :format => :js), :remote => true %>
    <%- end -%>
  </div>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :status, :as => :select, :collection => Plan::Status, :value_method => Proc.new{|c| c[1]}, :label_method => Proc.new{|c| c[0]} %>
    <%= f.input :outline %>
    <%= f.input :public %>
  <% end %>

  <br clear="left">

  <div class="actions">
    <%= f.commit_button %>
    <%- unless @plan.new_record? -%><%= link_to t('Remove'), plan_path(@plan, :_method => 'delete'), :confirm => 'OK?' %><%- end -%>
  </div>
<% end %>
