<ol id="plan_photo_selector" class="photo_selector">
<%- @plan.photos.each do |photo| %>
  <li data-mtp-photo-id="<%= photo.id %>"<%- if @plan.photo === photo %> class="ui-selected"<%- end -%>><%= image_tag photo.photo.url(:plan), :size => SpotPhoto::STYLES[:plan], :class => 'spotPhoto' %></li>
<%- end -%>
</ol>
<br clear="both">
<%= form_for @plan, :url => photo_plan_path(:id => @plan.id, :format => :js), :method => :put, :html => {:id => 'plan_photo_edit'}, :remote => true do |f| %>
  <%= f.hidden_field :photo_id %>
  <%= f.submit %>
<%- end -%>
