<%- content_for :sidebar do -%>
<%= render '/sidebar', :contents => [:help_edit_plan] %>
<%- end -%>

<div id="mainArea">
  <%= javascript_include_tag 'fileuploader' %>
  <%= render 'form' %>

  <h4 class="scheduleDate">行き先リスト</h4>

  <div class="schedule" id="destination_list">
    <div class="scheduleInnerEdit">
      <div class="routeBtnH"><%= link_to_function raw('<img src="/images/plan/route_btn_off.gif" alt="ルートで地図を見る" title="ルートで地図を見る">'), 'openRouteMap();' %></div>
      <%= render 'destinations' %>
      <div id="destination_form_dialog" class="dialog" style="display: none;"></div>
      <div id="spot_form_dialog" class="dialog" style="display: none;"></div>
      <div class="edtDirect"><%= link_to raw('<img src="/images/plan/add_spot_off.gif" alt="行き先を追加" title="行き先を追加">'), new_plan_destination_path(@plan), :remote => true %></div>
      <div class="routeBtnB"><%= link_to_function raw('<img src="/images/plan/route_btn_off.gif" alt="ルートで地図を見る" title="ルートで地図を見る">'), 'openRouteMap();' %></div>
    </div>
  </div>

  <div id="route_map_dialog" class="dialog" style="display: none;">
    <div class="popInner">
      <div id="routeMap" class="map" style="width: 690px; height: 360px;"></div>
      <div class="photoCtl clearfix">
      <p class="directL"><img src="/images/plan/map_derect_l.gif" alt="前へ" title="前へ"></p>
      <div class="photo">
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      <p class="pic"><img src="/images/plan/map_pic.jpg" alt="写真" title="写真"></p>
      </div>
      <p class="directR"><img src="/images/plan/map_derect_r.gif" alt="次へ" title="次へ"></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function openRouteMap() {
  var destinations = $('#destinations > [mtp-spot]');
  if (destinations.length < 2) {
    $.gritter.add({title: 'MTP', text: 'ルートを確認するには行き先を 2 ヶ所以上設定する必要があります'});
    return false;
  }
  $('#route_map_dialog').dialog({
    title: 'ルート確認',
    modal: true,
    width: 712,
    height: 474,
    resizable: false,
    closeOnEscape: false,
    open: function() {
      mtp.loadMapWithRoutes('routeMap');
    }
  });
}
</script>
