<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @plan.owner.profile_image_url %><%= @plan.owner.name %>
  <h2><%= @plan.title %></h2>
  <div><%= plan_status_label @plan.status %> </div>
  <div><%= @plan.outline %></div>
</div>

<%= map_tag({
  :longitude    => @plan.destinations[0].spot.latitude,
  :latitude     => @plan.destinations[0].spot.longitude,
  :zoom         => 14,
  :width        => '640',
  :height       => '320' },{
  :coordinates  => @path }) %>

<div class='section'>
  <h3>投票</h3>
  <div>
    <span id='tolal-point'><%= @plan.total_votes %>ポイント</span>
    <span class='voting-box'>
      <span id='btn-unvote' style='display:none;'><%= link_to '投票済', unvote_plan_path, :remote => true, :method => :put %></span>
      <span id='btn-vote' style='display:none;'><%= link_to '投票する', vote_plan_path, :remote => true, :method => :put %></span>
    </span>
  </div>
</div>
<div class="retweet">
  <a href="http://twitter.com/share" class="twitter-share-button"
    data-count="horizontal" data-text="#tabiplus" data-url="<%= @parmalink %>"
    data-counturl="<%= @parmalink %>"
    data-lang="ja">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div class="facebook_nice">
  <iframe src="http://www.facebook.com/plugins/like.php?href=<%= url_encode @parmalink %>&layout=standard&show_faces=true&width=450&action=like&colorscheme=light&height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:335px; height:80px;" allowTransparency="true"></iframe>
</div>
<div class="facebook_share">
  <a name="fb_share" type="icon" href="http://www.facebook.com/sharer.php?u=<%= url_encode @parmalink %>&t=<%= url_encode @plan.title %>">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</div>
<div class='section'>
  <h3>
    コメント
  </h3>
  
  <div class='new-comment-box'>
    <%- unless logged_in? -%>
      <p><strong><%= link_to 'ログイン', login_path %> してこのプランにコメントしよう！</strong></p>
    <%- else -%>
      <%- comment = @plan.comments.build %>
      <%- form_for comment, :remote => true do |f| -%>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
        <div class="field">
          <%= f.text_area :body, :size => '30x5' %>
        </div>
        <div class="submit">
          <%= f.submit 'コメントする' %>
        </div>
      <%- end -%>
    <%- end -%>
  </div>
  
  <div class='comments-box'>
    <ul>
      <%- @plan.comments.limit(5).order('created_at DESC').each do |comment| -%>
        <%= render :partial => 'comment', :locals => {:comment => comment} %>
      <%- end -%>
    </ul>
  </div>
  
</div>

<div id="twitter_widget">
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'search',
    search: '<%= @parmalink %>',
    interval: 6000,
    title: '旅PLUS',
    subject: 'みんなのつぶやき',
    width: 250,
    height: 300,
    theme: {
      shell: {
        background: '#8ec1da',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#1985b5'
      }
    },
    features: {
      scrollbar: false,
      loop: true,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: true,
      toptweets: true,
      behavior: 'default'
    }
  }).render().start();
  </script>
</div>

<div id='section'>
  <h3>
    行き先(<%= @plan.destinations.count %>)
  </h3>
  <ol>
    <%- @plan.destinations.each_with_index do |destination, index| -%>
      <li>
        <p><%= destination.spot.name %></p>
        <div>
          <%- if destination.spot -%>
          <%= map_image_tag({
            :latitude => destination.spot.longitude,
            :longitude => destination.spot.latitude,
            :markers => destination.spot.latitude + ',' + destination.spot.longitude,
            :zoom => 14,
            :size => '400x150'}) %>
          <%- end -%>
        </div>
        <div>
          コメント: <%= destination.comment %>
        </div>
        <div class='rating-box'>
          <%= destination.spot.average_rating %>
          <form>
            <div class='stars-wrapper' id='star-<%= index %>'>
              <select name='selrate'>
                <%- (1..5).each do |n| -%>
                  <%- if destination.spot.average_rating.to_i == n -%>
                  <option value='<%= n %>' selected='selected'></option>
                  <%- else -%>
                  <option value='<%= n %>'></option>
                  <%- end -%>
                <%- end -%>
              </select>
            </div>
          </form>
        </div>
      </li>
      <script type='text/javascript'>
        /**
         * Ratings
         */
        $('#star-<%= index %>').stars({
          inputType: 'select',
          cancelShow: false,
          oneVoteOnly: true,
          callback: function(ui, type, value) {
            $.ajax({
              type: 'POST',
              url: '<%= rate_spot_path(destination.spot) %>',
              data: {
                _method: 'put',
                score: value
              },
              dataType: 'json',
              complete: function(msg) {
              }
            })
          }
        });
      </script>
    <%- end -%>
  </ol>
</div>

<%- if @plan.owner == current_user -%>
<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%- end -%>
<%= link_to 'Back', plans_path %>

<script type="text/javascript">
  $('form#new_comment #comment_submit').attr('disabled','disabled');
  $('form#new_comment #comment_body').keyup(function(event){
    if ($(this).val().length > 0) {
      $('form#new_comment #comment_submit').removeAttr('disabled');
    } else {
      $('form#new_comment #comment_submit').attr('disabled','disabled');
    }
  });
  $('form#new_comment').bind('ajax:success', function(event){
    $('form#new_comment #comment_submit').attr('disabled','disabled');
    $('form#new_comment #comment_body').val('');
  });
  
  function changeTotalVoteView(point){
    $('#tolal-point').text(point + 'ポイント');
  }
  
  function onVote(){
    $('#btn-unvote').show();
    $('#btn-vote').hide();
  }
  
  function onUnVote(){
    $('#btn-unvote').hide();
    $('#btn-vote').show();
  }
  
  <%- if @plan.voted_by? current_user -%>
  onVote();
  <%- else -%>
  onUnVote();
  <%- end -%>
  
</script>
