<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @plan.owner.profile_image_url %><%= @plan.owner.name %>
  <h2><%= @plan.title %></h2>
  <div><%= plan_status_label @plan.status %> </div>
  <div><%= @plan.outline %></div>
</div>

<div class='section'>
  <h3>投票</h3>
  <div>
    <span id='tolal-point'><%= @plan.total_votes %>ポイント</span>
    <span class='voting-box'>
      <span id='btn-unvote' style='display:none;'><%= link_to '投票済', unvote_plan_path, :remote => true, :method => :put %></span>
      <span id='btn-vote' style='display:none;'><%= link_to '投票する', vote_plan_path, :remote => true, :method => :put %></span>
    </span>
  </div>
</div>

<div class='section'>
  <h3>
    コメント
  </h3>
  
  <div class='new-comment-box'>
    <%- unless logged_in? -%>
      <p><strong><%= link_to 'ログイン', login_path %> してこのプランにコメントしよう！</strong></p>
    <%- else -%>
      <%- comment = @plan.comments.build %>
      <%- form_for comment, :remote => true do |f| -%>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
        <div class="field">
          <%= f.text_area :body, :size => '30x5' %>
        </div>
        <div class="submit">
          <%= f.submit 'コメントする' %>
        </div>
      <%- end -%>
    <%- end -%>
  </div>
  
  <div class='comments-box'>
    <ul>
      <%- @plan.comments.limit(5).order('created_at DESC').each do |comment| -%>
        <%= render :partial => 'comment', :locals => {:comment => comment} %>
      <%- end -%>
    </ul>
  </div>
  
</div>

<div id='section'>
  <h3>
    行き先(<%= @plan.destinations.count %>)
  </h3>
  <ol>
    <%- @plan.destinations.each_with_index do |destination, index| -%>
      <li>
        <p><%= destination.spot.name %></p>
        <div class='rating-box'>
          <%= destination.spot.average_rating %>
          <form>
            <div class='stars-wrapper' id='star-<%= index %>'>
              <select name='selrate'>
                <%- (1..5).each do |n| -%>
                  <%- if destination.spot.average_rating.to_i == n -%>
                  <option value='<%= n %>' selected='selected'></option>
                  <%- else -%>
                  <option value='<%= n %>'></option>
                  <%- end -%>
                <%- end -%>
              </select>
            </div>
          </form>
        </div>
      </li>
      <script type='text/javascript'>
        /**
         * Ratings
         */
        $('#star-<%= index %>').stars({
          inputType: 'select',
          cancelShow: false,
          oneVoteOnly: true,
          callback: function(ui, type, value) {
            $.ajax({
              type: 'POST',
              url: '<%= rate_spot_path(destination.spot) %>',
              data: {
                _method: 'put',
                score: value
              },
              dataType: 'json',
              complete: function(msg) {
              }
            })
          }
        });
      </script>
    <%- end -%>
  </ol>
</div>

<%- if @plan.owner == current_user -%>
<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%- end -%>
<%= link_to 'Back', plans_path %>

<script type="text/javascript">
  $('form#new_comment #comment_submit').attr('disabled','disabled');
  $('form#new_comment #comment_body').keyup(function(event){
    if ($(this).val().length > 0) {
      $('form#new_comment #comment_submit').removeAttr('disabled');
    } else {
      $('form#new_comment #comment_submit').attr('disabled','disabled');
    }
  });
  $('form#new_comment').bind('ajax:success', function(event){
    $('form#new_comment #comment_submit').attr('disabled','disabled');
    $('form#new_comment #comment_body').val('');
  });
  
  function changeTotalVoteView(point){
    $('#tolal-point').text(point + 'ポイント');
  }
  
  function onVote(){
    $('#btn-unvote').show();
    $('#btn-vote').hide();
  }
  
  function onUnVote(){
    $('#btn-unvote').hide();
    $('#btn-vote').show();
  }
  
  <%- if @plan.voted_by? current_user -%>
  onVote();
  <%- else -%>
  onUnVote();
  <%- end -%>
  
</script>
