<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @plan.owner.profile_image_url %><%= @plan.owner.name %>
  <h2><%= @plan.title %></h2>
  <div><%= plan_status_label @plan.status %> </div>
  <div><%= @plan.outline %></div>
</div>

<div class='section'>
  <h3>
    コメント
  </h3>
  
  <div class='new-comment-box'>
    <%- comment = @plan.comments.build %>
    <%- form_for comment, :remote => true do |f| -%>
    <%= f.hidden_field :commentable_id %>
    <%= f.hidden_field :commentable_type %>
      <div class="field">
        <%= f.text_area :body, :size => '30x5' %>
      </div>
      <div class="submit">
        <%= f.submit 'コメントする' %>
      </div>
    <%- end -%>
  </div>
  
  <div class='comments-box'>
    <ul>
      <%- @plan.comments.limit(5).order('created_at DESC').each do |comment| -%>
        <%= render :partial => 'comment', :locals => {:comment => comment} %>
      <%- end -%>
    </ul>
  </div>
  
</div>

<%- if @plan.owner == current_user -%>
<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%- end -%>
<%= link_to 'Back', plans_path %>

<script type="text/javascript">
  $('form#new_comment #comment_submit').attr('disabled','disabled');
  $('form#new_comment #comment_body').keyup(function(event){
    if ($(this).val().length > 0) {
      $('form#new_comment #comment_submit').removeAttr('disabled');
    } else {
      $('form#new_comment #comment_submit').attr('disabled','disabled');
    }
  });
  $('form#new_comment').bind('ajax:success', function(event){
    $('form#new_comment #comment_submit').attr('disabled','disabled');
    $('form#new_comment #comment_body').val('');
  });
</script>
