<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'jquery-ui-1.8.5.custom' %>
  <%= stylesheet_link_tag '/javascripts/jquery.ui.stars/jquery.ui.stars.min.css' %>
  <%= stylesheet_link_tag 'fileuploader' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'plan' %>
  <%= stylesheet_link_tag 'top' %>
  <%= stylesheet_link_tag 'side' %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'utils' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'jquery.ui.stars/jquery.ui.stars.min' %>
  <%= javascript_include_tag 'jquery.lazyload.mini' %>
  <%= javascript_include_tag 'jquery.placeholder' %>
  <%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true&language=ja' %>
  <%=raw include_gritter %>
  <%= yield :preload_javascripts %>
  <%= yield :image_src %>
  <%= csrf_meta_tag %>
  <title>旅PLuS</title>
  <meta name="description" content="">
  <meta name="keywords" content="旅PLuS,旅,PLuS">
</head>
<body>
<div id="tabiplus">
  <div id="header" class="clearfix">
    <h1 id="logo"><%= link_to raw('<img src="/images/logo.gif" alt="旅PLuS" title="旅PLuS">'), root_path %></h1>
    <div id="gnaviWrapper">
      <ul id="gnavi">
        <li><a href="/about/"><img src="/images/menu_about_off.gif" alt="aaa" title="aaa"></a></li>
        <li><%= link_to raw('<img src="/images/menu_plan_off.gif" alt="プランを見る" title="プランを見る">'), plans_path %></li>
        <%- if logged_in? -%>
          <li><%= link_to raw('<img src="/images/menu_plan_make_off.gif" alt="プランを作る" title="プランを作る">'), new_plan_path %></li>
        <%- end -%>
      </ul>
    </div>
    <%- if logged_in? -%>
      <div id="login" class="clearfix">
        <p class="pict"><%= image_tag current_user.profile_image_url, :size => '26x26' %></p>
        <p class="name"><%= current_user.name.truncate_by_bytes(12) %></p>
        <p class="logoutBtn"><%= link_to raw('<img src="/images/logout.gif" alt="ログアウト" title="ログアウト">'), logout_path %></p>
      </div>
    <%- else -%>
      <div id="loginBefore" class="clearfix">
        <p class="logoutBtn"><%= link_to raw('<img src="images/login_btn.gif" alt="ログイン" title="ログイン">'), login_path %></p>
      </div>
    <%- end -%>
  </div>
  <div id="main">
    <div id="container" class="clearfix">
      <%= yield %>
      <%= yield :sidebar %>
    </div>
  </div>
  <div id="footer" class="clearfix">
    <p id="footLink"><%= link_to 'トップ', root_path %>　|　<a href="/about/">旅PLuSとは</a>　|　<a href="mailto:info@kray.jp">お問い合わせ</a>　|　<a href="/terms/">利用規約</a></p>
    <p id="copy"><img src="/images/copyright.gif" alt="&copy; KRAY Inc. All rights reserved." title="&copy; KRAY Inc. All rights reserved."></p>
  </div>
</div>
<script type='text/javascript'>
  $(function(){
    $('img.spotPhoto, img.spotMap').lazyload({
      placeholder : '/images/gray.png',
      effect : 'fadeIn'
    });
    $('input[placeholder], textarea[placeholder]').placeholder();
  });
</script>
<%= yield :javascripts %>
</body>
</html>
